-room_type_all = [1, 2, 3]
var append_html="<input type='radio' value='' disabled='' ><span class='small'>Double Bed</span><span class='small'style='margin-left:10px'>Available</span><br/>"


var abcd = @state_data[0]

$("#state_check").text("1 available.");