.amenitiesDetails
  %h2 Hotel
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  .clear
  %a{:href => "#"} See More
  .clear
.amenitiesDetails
  %h2 Hotel
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  .clear
  %a{:href => "#"} See More
  .clear
.amenitiesDetails
  %h2 Hotel
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  .clear
  %a{:href => "#"} See More
  .clear
.amenitiesDetails
  %h2 Hotel
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p 24-hour front desk
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Banquet facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Concierge services
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Dry cleaning/laundry service
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Exhibit space
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Fitness facilities
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Free parking
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Hair salon
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Health club
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Internet access - wireless
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Laundry facilities
    .clear
  .clear
  %a{:href => "#"} See More
  .clear