=hidden_field_tag "product_latitude", @product.latitude
=hidden_field_tag "product_longitude", @product.longitude
=hidden_field_tag "product_zoom", @product.zoom_level
=hidden_field_tag "product_address", @product.street_address
.LocAttractionDetails
  %h2 The Hudson
  %h3 356 West 58th Street,  New York, NY 10019,  United States
  %p
    Flights are available to NYC's airport from major international destinations on a variety of
    carriers.Direct flights operate daily from Mumbai, Chennai, Kolkata, Bangalore and several
    other cities.
  %p
    Taxi to / from NYC's airport ( about 14 miles away ) is approximately 900 rupees per car,
    each way.
  %p The Train station cost about 500 rupees each way
  %img{:src => "../assets/map.png"}/
  %h4 Things to do
  %p
    %span Park.
    Hudson is steps from Central Park's southwest corner. Take a stroll along Central Park
    South and hang a right on Fifth to shop the iconicavenue's flagship fashion stores.
  %p
    %span Eat.
    Yes, it's a mall, but the Time Warner Centerr, near the Hudson Hotel, is also home to
    some of the finest restaurants to open in the city in recent years. From Masa Takayama's eponymous sushi temple, Masa, to Thomas Keller's Per Se and Missy Robbins's A Voce,
    these are places to have the meal of a lifetime.
  %p
    %span Seet.
    After a $1.2 billion renovation, the iconic Lincoln Center for the Performing Arts campus
    has a bevy of new offerings. After much hysteria over the removal of the Phillip Johnson
    fountain, the new one is delighting passersby, particularly children.
  %p
    %span Tour.
    Revel in modern and contemporary art at the Guggenheim Museum and the Museum of
    Modern Art, or head further afield to MoMA's PS outpost in Long Island City, Queens, to see
    the works of up-and-coming artists.
