.overviewLeftDetails
  %img.overviewIcon{:src => "../assets/overviewIcon1.png"}/
  %img.overviewIcon{:src => "../assets/overviewIcon2.png"}/
  %img.overviewIcon{:src => "../assets/overviewIcon3.png"}/
  %img.overviewIcon{:src => "../assets/overviewIcon4.png"}/
  %img.overviewIcon{:src => "../assets/overviewIcon5.png"}/
  .clear
  %h3 Included:
  %h4 Wifi ,  Breakfast,  Gym,  Transfer ,   Taxes
  %p A fortress of unabashed but accessibly priced glam, the Hudson caters to travelers who care as much about the scene as the bedroom when it comes to hotels. Here, you'll spend more time at the popular 15th-floor Sky Terrace, open seasonally, or the Library Room bar than you will oversleeping in the comfortable but small rooms.While the rooms and suites do have Makore wood walls and exotic African flooring, they're not the draw here: The always-happening common areas are the hotel's main focus. From the moment you enter, signs of Philippe Starck's vision are everywhere. Two sleek escalators transport patrons into a dramatic greenhouse that doubles as the hotel lobby. A chandelier sways alongside walls of ivy.
.overviewRightDetails
  %h2 Trip Advisor traveller rating:
  .tripAdvisorImage
    %img{:src => "../assets/tripAdvisor.png"}/
  .tripAdvisorDetails
    %img.stars{:src => "../assets/stars.png"}/
    %p Based on 525 reviews
  .clear
  %h3 Accolades
  .clear
  .tripAdvisorImage
    %img{:src => "../assets/accolades1.png"}/
  .tripAdvisorDetails
    %h2 Most Excellent Hotel
    %p - Conde Nast Johansens
  .clear
  .tripAdvisorImage
    %img{:src => "../assets/tripAdvisor.png"}/
  .tripAdvisorDetails
    %h2 Most Excellent Hotel
    %p - Conde Nast Johansens
  .clear
  %h3 Hotel Details
  .clear
  .hotelDetails
    %p No of Rooms
    %h2 220
  .hotelDetails
    %p Check in Time
    %h2 1200 hrs
  .hotelDetails
    %p Check out Time
    %h2 1200 hrs
  .clear
  %h3
    Amenities
    %a{:href => "#"} View complete list of amenities
  .clear
  .fl.amenitiesList
    %img.fl{:src => "../assets/Icon_Restaurant.png"}/
    %p.fl Restaurant
  .fl.amenitiesList
    %img.fl{:src => "../assets/Icon_Bar.png"}/
    %p.fl Bar
  .clear
  .fl.amenitiesList
    %img.fl{:src => "../assets/Icon_Coffee_Shop.png"}/
    %p.fl Coffee Shop
  .fl.amenitiesList
    %img.fl{:src => "../assets/Icon_Room_Service.png"}/
    %p.fl Room Service
  .clear
  .fl.amenitiesList
    %img.fl{:src => "../assets/Icon_Internet_Access.png"}/
    %p.fl Internet Access
  .fl.amenitiesList
    %img.fl{:src => "../assets/Icon_Business_Centre.png"}/
    %p.fl Business center
  .clear
  .fl.amenitiesList
    %img.fl{:src => "../assets/Icon_Gym.png"}/
    %p.fl Gym
  .fl.amenitiesList
    %img.fl{:src => "../assets/Icon_Air_Conditioning.png"}/
    %p.fl Air Conditioning
  .clear
  .fl.amenitiesList
    %img.fl{:src => "../assets/Icon_WiFi_Access.png"}/
    %p.fl Wi Fi Access
  .fl.amenitiesList
    %img.fl{:src => "../assets/Icon_Pool.png"}/
    %p.fl Pool
  .clear
  .fl.amenitiesList
    %img.fl{:src => "../assets/Icon_24_Hour_Check_in.png"}/
    %p.fl 24 Hour Check in
.clear
%p.bottomDetails In the heart of the elevated lobby, Starck has created his own version of Central Park - a heated arena of towering trees and antique garden furniture enclosed in glass, perfect for people watching, sipping cocktails and absorbing urban style.Starck has created his own version of Central Park - a heated arena of towering trees and antique garden furniture enclosed in glass, perfect for people watching, sipping cocktails and absorbing urban style.
.bottomDesc
  %h2 What we love / What to know..
  %ul
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Great location, steps away from many of NYC's top sights
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p The live flame at the hotel entrance
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p The ivy-clad, glass-enclosed lobby
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Bath products from agua by Malin + Goetz
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p The book collection in the Library Room
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p Nightclub scene in the Hudson Bar
    .clear
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p
        Nightclub-like scene won't appeal to all travelers; come here for the party and the value,
        not for peace and uiet
    %li
      %img{:src => "../assets/icon_text_bullet.png"}/
      %p
        While the restaurant is under renovation this summer, breakfast will be served at the
        Library Bar and Tequila Park
    .clear