
/ -@product.f2r_hotel_inventory_items.each do |inv|
/  %div{:style=>"border-bottom: 1px dotted #CCCCCC;padding-bottom:10px;padding-top:5px"}

/   %span{:style=>'color:black;font-size:18px;font-family:Georgia,Times,"Times New '}=get_option_value(inv.room_type)
/   %br
/   %span{:style=>'color:#A8750A;font-size:16px;font-family:Georgia,Times,"Times New '}=inv.sub_heading
/   %br
/   %br
/   %p=inv.room_desc

 
.roomsDetails
  %h2 Standard One Queen
  %h3 Includes: Free Wireless Internet
  %p.roomsDet
    Measuring 144 to 167 square feet, this guestroom has 1
    queen platform bed with Egyptian-cotton linens and down
    pillows and duvet. The flat-panel TV comes with high-
    definition cable channels. Wireless Internet access is
    available for a surcharge. The telephone has a private
    number.
  %img.imageRooms{:src => "../assets/imageRooms.png"}/
  .clear
  %p
    The bathroom includes bathrobes and Malin+Goetz bath amenities. Some of these guestroo
    \-ms offer views of the city or the Hudson River.
.roomsDetails
  %h2 Standard One Queen
  %h3 Includes: Free Wireless Internet
  %p.roomsDet
    Measuring 144 to 167 square feet, this guestroom has 1
    queen platform bed with Egyptian-cotton linens and down
    pillows and duvet. The flat-panel TV comes with high-
    definition cable channels. Wireless Internet access is
    available for a surcharge. The telephone has a private
    number.
  %img.imageRooms{:src => "../assets/imageRooms.png"}/
  .clear
  %p
    The bathroom includes bathrobes and Malin+Goetz bath amenities. Some of these guestroo
    \-ms offer views of the city or the Hudson River.
.roomsDetails
  %h2 Standard One Queen
  %h3 Includes: Free Wireless Internet
  %p.roomsDet
    Measuring 144 to 167 square feet, this guestroom has 1
    queen platform bed with Egyptian-cotton linens and down
    pillows and duvet. The flat-panel TV comes with high-
    definition cable channels. Wireless Internet access is
    available for a surcharge. The telephone has a private
    number.
  %img.imageRooms{:src => "../assets/imageRooms.png"}/
  .clear
  %p
    The bathroom includes bathrobes and Malin+Goetz bath amenities. Some of these guestroo
    \-ms offer views of the city or the Hudson River.
.roomsDetails
  %h2 Standard One Queen
  %h3 Includes: Free Wireless Internet
  %p.roomsDet
    Measuring 144 to 167 square feet, this guestroom has 1
    queen platform bed with Egyptian-cotton linens and down
    pillows and duvet. The flat-panel TV comes with high-
    definition cable channels. Wireless Internet access is
    available for a surcharge. The telephone has a private
    number.
  %img.imageRooms{:src => "../assets/imageRooms.png"}/
  .clear
  %p
    The bathroom includes bathrobes and Malin+Goetz bath amenities. Some of these guestroo
    \-ms offer views of the city or the Hudson River.

 