.Highlighted a{
   background-color : Green !important;
   background-image :none !important;
   color: White !important;
   font-weight:bold !important;
   font-size: 11pt;
}
.check_in a{
	background-color : Red !important;
   background-image :none !important;
   color: White !important;
   font-weight:bold !important;
   font-size: 11pt;
}

.wrapper {
   height: 600px;
}

#jrange input {
   width: 200px;
}

#jrange div {
   font-size: 9pt;
}

.date-range-selected > .ui-state-active,
.date-range-selected > .ui-state-default {
   background: none;
   background-color: lightsteelblue;
}
.unavailable span{
	background-color : #666666 !important;
	background-image :none !important;
   color: White !important;
   font-weight:bold !important;
   font-size: 11pt;
}
  div.ui-datepicker {
    font-size: 90%;
}
/*.changecolor{ background-color: blue !important;}*/
/*.ui-datepicker-current-day .ui-state-active { background: #000000 !important; }*/
/*.ui-datepicker-today a{ background-color: blue !important;}*/

/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ background: none repeat scroll 0 0 salmon !important;}*/

#map_canvas { height: 100% }
.check_in_date span{
   background-color : #000000  !important;
   background-image :none !important;
   color: White !important;
   font-weight:bold !important;
   font-size: 11pt;
}
.check_in_date{opacity:1 !important;}


/* newly added gopal*/


.middleSectionLeftSearchDetails
{
background:#b58d36;
margin-bottom:10px;
padding-bottom:5px;
}
.cityField
{
background: url(images/form_textbox.png) no-repeat scroll 0 0 transparent;
border: medium none;
color: #929292;
height: 37px;
margin-left: 10px;
margin-top: 15px;
padding-left: 14px;
padding-top: 2px;
width: 210px;
margin-left:10px;
}
.marSearch
{
margin-left:10px;
}

.search_bn
{
background: url(images/search_button.png) no-repeat scroll 0 0 transparent;
width:230px;
height:46px;
text-align:center;
color:#fff;
font-size:18px;
margin-top:15px;
display:block;
margin-bottom:10px;
border:none;
outline:none;
}



#dotted_line {border-bottom: 1px dotted #ccc}

#map_image {width: 250px; height:240px;}

#blank_area{
   height: 20px; 
   width: 285px; 
   background-color: #F0F0F0; 
   margin: -1em;
}


/* newly added naveena*/
#price_slider {
   background: url(images/backslider.png) no-repeat scroll 0 0 transparent !important;
   border: medium none !important;
   height: 20px !important;
   width: 255px !important;
   border-radius: 0!important;
}

#price_slider .ui-state-default {
   background: url(images/arrow.png) 0 0 no-repeat transparent!important;
   border: medium none !important;
}

#price_slider .ui-widget-header{
   background: url(images/frontnew.png) repeat-x scroll 50% 50% transparent!important;
   border: medium none !important;
}

#price_slider .ui-slider-range {
    height: 100% !important;
    top: 5px !important;
}

#price_slider .ui-slider-handle {
    margin-left: 0 !important;
    top: 0.4em !important;
}


.searchMenu
{
   list-style:none;
}
.searchMenu li
{
   float:left;
   padding:10px;
   margin-right:10px;
   color: #a77509;
   cursor:pointer;
   height:26px;
   width:68px;
   text-align:center;
}
.searchMenu li a
{
   font-size: 14px;
}
ul.searchMenu li.active
{
   background: url(images/searchMenuActive.png) no-repeat scroll 0 0 transparent;
   color:#1f1f1f;
}

.sortSearch
{
   border-bottom: 1px dotted #929292;
   height:38px;
}

.sortBy
{
   float:left;
   margin-right: 15px;
   margin-top: 10px;
}
.sortBy span
{
   color: #2a2a2a;
   font-size: 14px;
}

.middleSectionRightSearch {
   width: 598px;
   float: left;
   background: #FFFFFF;
   padding-left: 25px;
   padding-right: 15px;
}
.middleSectionRightSearch h1
{
   color: #A77509;
   font-size: 26px;
   margin-right: 25px;
   /*padding-top: 15px;*/
   font-family: Georgia;
}
.middleSectionRightSearch p
{
   color: #151515;
   font-size: 16px;
   padding-bottom: 25px;
   border-bottom: 1px dotted #929292;
}
.middleSectionRightSearch p span
{
   color: #A77509;
}

.details h2
{
   padding-top: 10px!important;
   color: #212121!important;
   font-size: 18px!important;
   font-family: Georgia!important;

}
.details a{
   float: right;
   color: #a77509;
   font-size: 12px;
   text-align: left;
   width: 170px;
}

.location
{
   color: #a77509!important;
   font-size: 12px!important;
}
.overview
{
   color: #626262!important;
   padding-bottom: 5px!important;
   padding-top: 5px!important;
   border-bottom: none!important;
}
.overview a{
   margin-top: -20px;
   padding-right: 5px;
   text-align: right;
}

.fareDetails
{
   border-bottom: 1px dotted #929292;
   border-top: 1px dotted #929292;
   font-family: Georgia;
}

.fareDetails strike
{
   color: #171717;
   font-size: 18px;
   float: left;
   text-decoration: line-through;
   margin-top: 5px;
}

.fareDetails strong{
   color: #a77509!important;
   font-size: 28px!important;
   float: left!important;
   margin-left: 10px!important;
   font-weight: normal!important;
   margin-top: 3px!important;
}

p.avgNight {
   color: #2a2a2a;
   font-size: 12px;
   border: none;
   font-family: arial;
   width: 55px;
   padding-bottom: 0px!important;
}

a.book{
   background: url(images/icon_glod_arrow_big.png) no-repeat scroll right -2px transparent!important;
   height: 23px!important;
   margin-right: 20px!important;
   width: 100px!important;
   font-family: arial!important;
   color: #a77509!important;
   font-weight: normal!important;
   margin-top: -25px!important;
}

.clear{
   clear:both;
}

.box
{
   display:none;
}
.visible
{
   display:block;
}

.pagination
{
   float:right!important;
}
.pagination a
{
   color:#1f1f1f!important;
   font-size: 14px!important;
   margin-right:10px!important;
   padding:0!important;
}
.pagination .current
{
   color:#a77509!important;
   margin-right:10px!important;
   font-size: 14px!important;
}
