%a.coupon_box{:href => product_url(coupon)}
  .middleImages.others
    = image_tag coupon.images.first.attachment.url(:product), :width=> "210px", :height=> "165px" rescue ' no image '
    .middleImagesDetails.middleImagesDetailsOthers
      %h2.coupon_title= coupon.name.titleize.truncate(30)
      %span 
      .clear
      
